.flow {
  // height: 100%;
  display: flex;
  flex-direction: column;
}


.flow-body {
  flex: 1;
  display: flex;
}

.flow-side-left {
  width: 200px;
}

.flow-container {
  flex: 1;
  overflow: auto;
}