* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --base-padding: 12px;

  --base-radius: 6px;
}

:root,
body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  height: 100%;
}

.layout {
  display: flex;
  // flex-direction: column;

  &-side {
    width: 220px;
    border: 1px solid #EEE;
  }

  &-content {
    flex: 1;
    padding: 15px;
  }
}